.vs/PyLearn/FileContentIndex/d063f989-820e-4a84-bacd-e5667e72e8d6.vsidx
.vs/PyLearn/FileContentIndex/de81940a-a62d-4555-8f11-5402344b4478.vsidx
.vs/PyLearn/v17/.wsuo
.vs/PyLearn/FileContentIndex/67ba20ce-059c-4abe-a7b4-502ab897c3d6.vsidx
.vs/PyLearn/FileContentIndex/6cd60599-6456-49db-bdf6-e041c14c8230.vsidx
.vs/PyLearn/FileContentIndex/4bfec934-10d4-47f2-9cfe-46e1545cca9b.vsidx
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
